apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: micro-twitter

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - postgres-pvc.yaml
  - postgres-statefulset.yaml
  - postgres-service.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
  - hpa.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: micro-twitter
      app.kubernetes.io/managed-by: kustomize
